# Ignore all tar and tar.gz files
*.tar
*.tar.gz

# Ignore Visual Studio Code settings and workspace files
.vscode/
.vscode/*
*.code-workspace

# Ignore script backups and logs
*.bak
package.xml.bak
/tmp/

# Ignore build script
build.sh
