# Ignore all tar and tar.gz files (build archives)
*.tar
*.tar.gz

# Ignore Visual Studio Code settings and workspace files
.vscode/
.vscode/*
*.code-workspace

# Ignore Windows Zone Identifier files
*:Zone.Identifier

# Ignore plugin store description files (for local use only)
PLUGIN_DESCRIPTION_*.md
PLUGIN_STORE_*.txt
